{# homepage.html: Main homepage template that displays a banner image #}
{% extends 'nav.html' %} {# Inherit from nav.html to include navigation and flash messages #}

{% block content %}
    <div class="container mt-3">
        <!-- Banner image for the homepage -->
        <img width="99%" src="https://media.istockphoto.com/id/173379648/photo/lead-and-learn-written-on-red-and-black-jigsaw-pieces.jpg?s=1024x1024&w=is&k=20&c=SqbOQdJ4Q2h-_BZymeLzHRO9AbvGEjblQE1A2PazD5I=" alt="">
    </div>
{% endblock %}
